/*========================================================
      Checkout
========================================================*/

.checkout__container {
    display: flex;
    flex-flow: column;
    padding: 20px;
}
