* 
    margin 0
    padding 0

.content
	width 100%
	height 900px
	margin 0 auto
	position relative

.gallery
	width 40%
	position relative
	display inline-block
	box-sizing border-box
  

.specification 
	width 60%
	position relative
	float right 
	background #DD9
	display inline-block
	padding-left 10px
	

.large-image 
	width 100%
	display block

.large-image img 
	width 100%

.gallery ul 
	display block


.gallery ul li 
	display inline-block
	width 20%
	padding-top 5px
	marging-top 15px
	

.gallery ul li img 
	width 100%	

.gallery ul li:hover 
	border 2px solid rgba(135, 242, 123, .5)