/*========================================================
      Details
========================================================*/

.details {
    display: flex;
    flex-flow: row nowrap;
    min-height: 100px;
}

.details__images {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.phone-thumbs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.details__main_img {
    width: 400px;
}

.phone-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 5px 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}

.phone-thumb:hover {
    box-shadow: 0 0 10px rgba(0, 171, 255, 0.5);
}

.phone-image {
    height: 50px;
    width: 50px;
}

.details__detail {
    padding: 0 20px;
}

/*table*/
.specification {
    border-collapse: collapse;
    border-spacing: 0;
}

.specification caption {
    text-align: left;
    color: #222;
    font: 700 1.6rem 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.specification colgroup col {
    width: 140px;
    background: #f8f8f8;
}

.specification tbody {

}

.specification td {
    font-size: 12px;
    padding: 7px 14px 6px;
}

.specification td:nth-child(1) {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.details__title {
    color: #222;
    font: 700 2.4rem 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.details__description {
    color: #222;
    font: 1.6rem 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: justify;
}

@media (max-width: 1024px) {
    .details__main_img {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .details {
        flex-flow: column wrap;
    }

    .details__main_img {
        width: 100%;
        max-width: 400px;
    }

    .phone-thumbs {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}
