.box
    position relative
    height 440px
    padding-bottom 0
    margin 0 4px 4px 0
    border-right 1px solid #eaeaea
    border-bottom 1px solid #eaeaea
    
.picture
	height 200px

img  
    width 100%
    margin 0 auto
    border none
    position relative
    float right

.content_box
	width 100%
    height 40%
    padding 3px 10px
    box-sizing border-box

.phones
    width 100%
    height 10%
    position relative
    

.short_description
    width 70%
    position relative
    display inline-block
    padding 5px 3px 3px 10px

    font-size 1em
    margin-top 0.38462em
    margin-bottom 0.76923em
    overflow hidden
    max-height 4.69231em

.price
    width 20%
    text-align center
    position relative
    float right 
    display inline-block
    background #fff3b5
    border-radius 4px
    padding 7px 7px 5px
    vertical-align middle
    margin-right 0.5em
    white-space nowrap
    border 1px solid transparent

.description
	color black
	padding 5px 3px 3px 10px
    height 20%

button
    background pink
    background green
    color white
    border none
    border-radius 7px
    font-family Arial 
    font-weight bold
    font-size 18px
    position relative
    float right
    padding 3px 10px
    margin-top 0.76923em