/*========================================================
      Main
========================================================*/


.main {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

.sort {
    display: flex;
    justify-content: flex-end;
}

.sort__list {
    margin: 0;
    margin-right: 20px;
    padding: 2px 5px;
    border: 2px solid #c2dbe1;
    border-radius: 5px;
    color: #222222;
    font: 1.4rem 'Roboto', sans-serif;
}

@media (max-width: 640px) {
    .sort {
        justify-content: center;
    }

    .sort__list {
        margin: 10px 0;
    }
}

.catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 10px;
}

.phone {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 1 200px;
    margin: 20px 10px;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid transparent;
}

.phone:hover {
    border: 1px solid #a6a6a6;
}

.phone a {
    text-decoration: none;
}

.phone__img {
    height: 200px;
    /*width: 100%;*/
}

.phone__title {
    position: relative;
    margin: 0.67em 0;
    font: 700 1.6rem 'Roboto', sans-serif;
    color: #222;
    text-align: center;
    height: 25px;
}

.phone__title:hover {
    text-decoration: underline;
}

.phone__description {
    overflow: hidden;
    height: 45px;
    font: 400 1.2rem 'Roboto', sans-serif;
    color: #222;
}

.phone__rating {
    position: relative;
    color: #0397d6;
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
    cursor: default;
}

.phone__rating span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
}

[data-rating="1"] span { width: 20%; }
[data-rating="2"] span { width: 40%; }
[data-rating="3"] span { width: 60%; }
[data-rating="4"] span { width: 80%; }
[data-rating="5"] span { width: 100%; }

.phone__price {
    margin: 0;
    color: #222;
    font: 700 2.4rem 'Roboto', sans-serif;
    white-space: nowrap;
}

.btn__add {
    margin: 15px;
    padding: .8em 1.2em;
    border-radius: 5px;
    border-style: none;
    font: 700 1.8rem 'Roboto', sans-serif;
    color: #fff;
    background: #46a5cd;
    cursor: pointer;

}

.btn__add:hover {
    background: #448099;
}

.btn__show {
    display: block;
    padding: 10px 24px;
    margin: 0 auto 20px auto;
    border-style: none;
    border-radius: 4px;
    font: 400 2rem 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
    color: #fff;
    background: #888;
    cursor: pointer;
    outline: none;
}

.btn__show:hover {
    background: #666;
}
