<div class="navigation">
    <button class="menu__button" ng-class="{true: 'menu__button--on', false: ''}[button.on]" ng-click="button.on = !button.on">
        <div class="menu__burger"></div>
    </button>
    <nav class="menu">
        <ul class="menu__list">
            <li ng-repeat = "menuItem in vm.menuItems" class="menu__item" ui-sref-active="menu__item--active">
                <a ui-sref="{{menuItem.state}}" class="menu__link">{{menuItem.title}}</a>
            </li>
        </ul>
    </nav>
    <div class="search">
        <input type="text" class="search__input" ng-model="vm.search" ng-change="vm.searchPhone()" placeholder="search">
    </div>
</div>
