<div class="comments">
    <div class="comments__header">
        <h2 class="comments__title">Reviews:</h2>
        <button type="button" class="comments__btn_add" title="Add review (Ctrl+Enter)" ng-click="vm.addComment()" ng-bind="{true: 'Save review', false: 'Add review'}[vm.addButtonOn] || 'Add review'"></button>
    </div>
    <div class="comments__form" ng-class="{true: 'comments__form--show', false: ''}[vm.addButtonOn]">
        <input type="text" placeholder="Name" class="comments__input comments__input--name" ng-model="vm.newCommentModel.author">
        <div contenteditable class="comments__input comments__input--text" placeholder="Your review..." ng-model="vm.newCommentModel.text"></div>
        <div class="comments__rating">
            <label class="comm__rating-label">
                <input type="radio" class="comments__input_rating" ng-model="vm.newCommentModel.item_rating" ng-value="0">
            </label>
            <label class="comm__rating-label" ng-mouseover="vm.currentRating = 1" ng-mouseleave="vm.currentRating = vm.newCommentModel.item_rating">
                <input type="radio" class="comments__input_rating" ng-model="vm.newCommentModel.item_rating" ng-value="1">
                &#9734;<span style="{{(vm.currentRating >= 1) ? 'display: block' : ''}}">&#9733;</span>
            </label>
            <label class="comm__rating-label" ng-mouseover="vm.currentRating = 2" ng-mouseleave="vm.currentRating = vm.newCommentModel.item_rating">
                <input type="radio" class="comments__input_rating" ng-model="vm.newCommentModel.item_rating" ng-value="2">
                &#9734;<span style="{{(vm.currentRating >= 2) ? 'display: block' : ''}}">&#9733;</span>
            </label>
            <label class="comm__rating-label" ng-mouseover="vm.currentRating = 3" ng-mouseleave="vm.currentRating = vm.newCommentModel.item_rating">
                <input type="radio" class="comments__input_rating" ng-model="vm.newCommentModel.item_rating" ng-value="3">
                &#9734;<span style="{{(vm.currentRating >= 3) ? 'display: block' : ''}}">&#9733;</span>
            </label>
            <label class="comm__rating-label" ng-mouseover="vm.currentRating = 4" ng-mouseleave="vm.currentRating = vm.newCommentModel.item_rating">
                <input type="radio" class="comments__input_rating" ng-model="vm.newCommentModel.item_rating" ng-value="4">
                &#9734;<span style="{{(vm.currentRating >= 4) ? 'display: block' : ''}}">&#9733;</span>
            </label>
            <label class="comm__rating-label" ng-mouseover="vm.currentRating = 5" ng-mouseleave="vm.currentRating = vm.newCommentModel.item_rating">
                <input type="radio" class="comments__input_rating" ng-model="vm.newCommentModel.item_rating" ng-value="5">
                &#9734;<span style="{{(vm.currentRating >= 5) ? 'display: block' : ''}}">&#9733;</span>
            </label>
        </div>
    </div>
    <ul class="comments__list">
        <li class="comm" ng-repeat="comment in vm.comments | orderBy:'created_on':true">
            <div class="comm__info">
                <h4 class="comm__name">{{comment.author}}</h4>
                <p class="comm__rating" data-rating="{{comment.item_rating}}">
                    &#9734;&#9734;&#9734;&#9734;&#9734;
                    <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                </p>
            </div>
            <div class="comm__content">
                <p class="comm__text" ng-bind-html="comment.text"></p>
                <time datetime="{{comment.date}}" class="comm__date" ng-bind="vm.getFormatedDate(comment.created_on)"></time>
                <!-- <button class="comm__btn-edit" title="Edit comment" ng-click="vm.editComment(comment, $index)">Edit</button>
                <button class="comm__btn-del" title="Delete comment" ng-click="vm.removeComment(comment, $index)">Delete</button> -->
            </div>
        </li>
    </ul>
</div>
