/*========================================================
      Reviews
========================================================*/


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

.comments {
    /*max-width: 600px;*/
    margin: 20px auto 0 auto;
    padding: 20px;
}

.comments__header {
    display: flex;
    justify-content: space-between;
}

.comments__btn_add {
    flex: 0 1 auto;
    margin: 10px 0;
    padding: .5em 1.5em;
    cursor: pointer;
    background: #46a5cd;
    border: none;
    border-radius: 5px;
    font: 18px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    transition: background .2s;
    outline: none;
}

.comments__btn_add:hover {
    background: #448099;
}

.comments__title {
    flex: 1 1 auto;
    font: 700 2.4rem 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.comments__form {
    display: none;
}

.comments__form--show {
    width: 100%;
    display: flex;
    /*align-items: stretch;*/
    flex-flow: column nowrap;
}

.comments__label {
    margin: 10px 0 10px;
    font: 700 16px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
}

.comments__input {
    margin: 10px 0;
    border-style: none;
    border: 1px solid silver;
    border-radius: 5px;
    font: 16px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #666;
    outline: none;
    padding: 8px;
}

.comments__input:focus {
    border: 2px solid rgba(46, 159, 255, .8);
}

.comments__input--text {
    min-height: 20px;
    word-wrap: break-word;
}

.comments__input--error,
.comments__input:focus.comments__input--error {
    border: 2px solid red;
}

.comments__input--text:empty:after {
    content: 'Your review...';
}

.comments__input--text:after,
.comments__input--text:focus:after {
    content: '';
    color: #bcbcbc;
}

.comments__input--text > p,
.comments__input--text > div {
    margin: 0;
    padding: 0;
}

/*=== comments list ===*/

.comments__list {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.comm {
    position: relative;
    margin: 10px 0;
    padding-bottom: 5px;
    display: flex;
    flex-flow: column wrap;
    font: 16px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid silver;
    cursor: pointer;
}

.comm__info {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.comm__content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.comm__name {
    margin: 5px 0 5px 0;
    font: 700 2rem 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
}

.comm__text {
    margin: 10px 0 5px 0;
    overflow: auto;
    text-align: justify;
    color: #222;
}

.comm__date {
    /*align-self: flex-end;*/
    color: #999;
    align-self: flex-end;
    margin-bottom: 10px;
}

.comm__btn-edit,
.comm__btn-del {
    position: absolute;
    display: none;
    border: none;
    background: transparent;
    bottom: 0;
    width: 30px;
    height: 30px;
    padding: 7px;
    transition: background .5s;
    cursor: pointer;

    /*hide text*/
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}

.comm__btn-edit { left: 0; }
.comm__btn-del  { left: 35px; }

.comm__btn-edit:before,
.comm__btn-del:before,
.comm__btn-del:after {
    position: absolute;
    display: block;
    content: '';
    top: 15px;
    left: 7px;
    width: 16px;
    height: 1px;
    opacity: .5;
    background: #7f919e;
}

.comm__btn-edit:before {
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    background: url("img/pencil-edit-button.svg") no-repeat;
    background-size: contain;
}

.comm__btn-edit:hover:before {
    opacity: 1;
}

.comm__btn-del:before { transform: rotate(45deg); }
.comm__btn-del:after  { transform: rotate(-45deg); }

.comm__btn-del:hover:before,
.comm__btn-del:hover:after {
    opacity: 1;
}

.comm__btn-edit:hover,
.comm__btn-del:hover {
    /*background: #f1f2f4;*/
}

.comm:hover > .comm__content > .comm__btn-del,
.comm:hover > .comm__content > .comm__btn-edit {
    display: block;
}


/*=== rating ====*/

.comments__rating {

}

.comments__input_rating {
    float: right;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 0 0 -24px;
    opacity: 0;
}

.comm__rating-label {
    position: relative;
    color: #0397d6;
    font-size: 3.4rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.comm__rating-label span {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.comm__rating-label:hover span {
    /*display: block;*/
}

.comm__rating {
    position: relative;
    color: #0397d6;
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
}

.comm__rating span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
}

[data-rating="1"] span { width: 20%; }
[data-rating="2"] span { width: 40%; }
[data-rating="3"] span { width: 60%; }
[data-rating="4"] span { width: 80%; }
[data-rating="5"] span { width: 100%; }
